Mackup/.config/nvim/plugin/packer_compiled.lua
Mackup/.config/zsh/plugins
.zcompdump
.zcompcache
Mackup/.config/zsh/.zsh_history
Mackup/.config/fish/plugins
Mackup/.config/fish/functions/fzf_key_bindings.fish
Mackup/.config/fish/fish_variables
# Mackup/.config/fish/functions
.DS_Store
db.zo
com.trusourcelabs.NoMAD.plist
com.valvesoftware.steamclean.plist
Mackup/Library/Application Support/abnerworks.Typora/.*
