.config/zsh/plugins
.zcompdump
.zcompcache
.config/zsh/.zsh_history
.config/fish/plugins
.config/fish/fish_variables
.DS_Store
db.zo
com.trusourcelabs.NoMAD.plist
com.valvesoftware.steamclean.plist
lazy-lock.json
