Mackup/.config/nvim/plugin/packer_compiled.lua
Mackup/.config/zsh/plugins
Mackup/.config/zsh/.zcompcache
Mackup/.config/zsh/.zsh_history
Mackup/.config/fish/plugins
# Mackup/.config/fish/functions
# Mackup/.config/fish/fish_variables
